* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

.stick {
	margin-top: 15%;
}



.id1 {
	text-align: justify;
}

.header {
	margin-top: 0%;
	padding: 0;
	color: rgba(20000, 20000, 20000, 0.7);
}

@media (min-width: 567px) {
	.header {
		margin-top: 20%;
		font-size: 20px;
	}
}


.header2 {
	font-size: 32px;
}

.section {
	height: 100%;
	width: 100%;
	padding-top: 5rem;
}

@media (min-width: 500px) {
	.section {
		width: 100%;
		height: 100%;
	}
}

.home {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/image1.jpeg');
}

.about {
	background-color: floralwhite;
	padding: 40px auto;

}

.gallery {
	min-height: 100%;
	overflow: auto;
	background-color: #c7caf0;
}

.prog {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../../img/image1.jpeg");
	color: white;
}

.info {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('../../img/image3.jpeg');
}

.divider {
	width: 100%;
	height: 5rem;
	background-color: rgba(0, 0, 0, 0.9);
}

.contact {
	background-color: rgba(100, 200, 500, 0.5);
}

.about .container {
	padding-top: 100px;
	padding-bottom: 100px;
}

img .img1 {
	vertical-align: middle;
	display: block;
	max-height: 500px;
}

/* Position the image container (needed to position the left and right arrows) */
.container1 {
	position: relative;
	height: 500px;
	width: 600px;
}

/* Hide the images by default */
.mySlides1 {
	height: 500px;
	width: auto;
	display: none;
	margin: 0 auto 0 auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor1 {
	cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext1 {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for image text */
.caption-container1 {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.row1:after {
	content: "";
	display: table;
	clear: both;
}

/* Six columns side by side */
.column1 {
	float: left;
	width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo1 {
	opacity: 0.6;
}

.active1,
.demo1:hover {
	opacity: 1;
}